{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Tracker</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>

    {% block content %}
    {% endblock content %}
</body>

</html>